@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader */

.loader {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e8724a;
    position: relative;
    animation: load 2s linear infinite;
  }
  
  .loader::before,.loader::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .loader::before {
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
  }
  
  .loader::after {
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
  }
  
  .loader span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
  }
  
  @keyframes load {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes a2 {
    to {
      transform: rotate(-360deg);
    }
  }

/* 404 hollow text */
.hollowText {
  color: transparent;
  -webkit-text-stroke: 2px #e8724a;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke: 2px #e8724a;
  -moz-text-fill-color: transparent;
}

/* Style the scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #013a94;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #4a8ae8;
}

body::-webkit-scrollbar-track {
  background: #231f20;
}
/* Custom style for customized scroll bar */

.special::-webkit-scrollbar {
  height: 5px;
}

.special::-webkit-scrollbar-thumb {
  background-color: #e8724a;
  border-radius: 2px;
}
.special::-webkit-scrollbar-thumb:hover {
  background-color: #d64514;
}

.special::-webkit-scrollbar-track {
  background: #231f20;
}

/* For the Sidebar layout */
.mainWidth {
  width: calc(100% - 20rem);
  float: right;
}
@media screen and (max-width: 1024px) {
  .mainWidth {
    width: 100%;
  }
}